<div id='uploaderFrame'>

 <div id='uploaderForm'>
 <form method='post' action='uploader' enctype="multipart/form-data">
 <input type='file' name='fileUploaded'>
 <input type='submit' value="Upload">
 </div>

</div>